body {
  background-color: lightgreen;
}

a:hover {
  color: darkgray;
}

h1 {
  font-family: Lobster, monospace;
  background-color: lightgray;
  color: darkgreen;
}

p {
  font-size: 16px;
  font-family: monospace;
}

.start-text {
  text-align: center;
}

.image-border {
  border-radius: 50%;
  border-color: aliceblue;
  border-style: solid;
  border-width: 5px;
}

.image-border:hover {
  border-color: lightblue;
}

.main-image {
  width: 200px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.silver-background {
  background-color: silver;
  padding: 20px;
}

.green-border {
  border-width: 2px;
  border-color: green;
  border-style: groove;
  border-radius: 5px;
}

.green-border:hover {
  border-color: black;
}

.list {
  background-color: lightgreen;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.list:hover {
  background-color: aliceblue;
}

input[type="text"] {
  color: darkorange;
}

input[type="text"]:hover {
  background-color: lightgray;
}

button {
  background-color: darkgray;
  color: white;
}
